div.header-1 {
  background-color: yellow;
  padding: 0%;
  margin: 0%;
  color: rgb(91, 91, 91);
  display: flex;
  justify-content: center;
  font: Sans, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
div.header-2 {
  background-color: rgb(89, 186, 247);
  color: rgb(72, 70, 70);
  font: Sans, sans-serif;
  font-size: small;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
/* #head1 .a {
  word-wrap: break-word;
  width: 300px;
} */
div.header-3 {
  background-color: green;
  color: white;
  font: Sans, sans-serif;
  padding-left: 9%;
  font-style: italic, bolder;
  font-size: xx-large;
}
div.header-4 {
  background-color: rgb(91, 89, 89);
  display: inline-flexbox;
  justify-content: space-evenly;
  gap: 10px;

  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  font: Open Sans, sans-serif;
  font-style: bolder;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
}
ul {
  list-style-type: none;
}
div.header-div {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0%;
}
